                <div class="blog-item">
                    <div class="blog-image-container">
                        {image_html}
                    </div>
                    <div class="blog-info">
                        <h3 class="blog-title">{title}</h3>
                        <p class="blog-date">{date}</p>
                        <p class="blog-description">{description}</p>
                        <div class="blog-actions">
                            <a href="{read_more_link}" class="read-more-button">
                                <i class="fas fa-book-reader"></i>
                                Read More
                            </a>
                        </div>
                    </div>
                </div> 