            <!-- Blog Content Section -->
            <div id="blog-content" class="main-section">
                <div class="blog-post-container">
                    <div class="blog-post-header">
                        <div class="blog-post-meta">
                            <span class="blog-post-date">
                                <i class="far fa-calendar-alt"></i>
                                {date}
                            </span>
                            <span class="blog-post-reading-time">
                                <i class="far fa-clock"></i>
                                {reading_time} min read
                            </span>
                        </div>
                        <h1 class="blog-post-title">{title}</h1>
                        <div class="blog-post-tags">
                            {tags_html}
                        </div>
                    </div>
                    <div class="blog-post-content">
                        {content}
                    </div>
                    <div class="blog-post-footer">
                        <div class="blog-post-navigation">
                            <a href="#blog" class="back-to-blog">
                                <i class="fas fa-arrow-left"></i>
                                Back to Blog
                            </a>
                        </div>
                    </div>
                </div>
            </div> 