        <!-- Header Section -->
        <header class="header">
            <div class="header-content">
                <!-- Name - Left Side -->
                <div class="header-left">
                    <h1 class="name">Dineshvarma Guduru</h1>
                </div>
                
                <!-- Navigation and Social Links - Right Side -->
                <div class="header-right">
                    <!-- Main Navigation -->
                    <nav class="main-navigation">
                        <a href="#about" class="main-nav-link active" data-target="about">
                            <i class="fas fa-user"></i>
                            <span>About Me</span>
                        </a>
                        <a href="#blog" class="main-nav-link" data-target="blog">
                            <i class="fas fa-pen-fancy"></i>
                            <span>Blog</span>
                        </a>
                        <a href="#books" class="main-nav-link" data-target="books">
                            <i class="fas fa-book"></i>
                            <span>Books I Read</span>
                        </a>
                        <a href="#gear" class="main-nav-link" data-target="gear">
                            <i class="fas fa-cogs"></i>
                            <span>My Gear</span>
                        </a>
                    </nav>
                    
                    <!-- Social Links -->
                    <div class="social-links-header">
                        <a href="https://www.linkedin.com/in/dineshvarma-guduru/" target="_blank" class="social-link" title="LinkedIn Profile">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="https://www.youtube.com/@atomicengineering" target="_blank" class="social-link" title="YouTube Channel">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header> 