                            <div class="book-item placeholder">
                                <div class="gear-icon">
                                    <i class="{icon}"></i>
                                </div>
                                <div class="book-details">
                                    <h4 class="book-title">{category_name} coming soon...</h4>
                                    <p class="book-description">{description}</p>
                                    <div class="book-tags">
                                        <span class="book-tag">{first_word}</span>
                                        <span class="book-tag">Tools</span>
                                    </div>
                                </div>
                            </div> 